<%= link_to property do %>
        <td><%= property.address %></td>
        <td><%= property.price %></td>
        <td><%= property.rooms %></td>
        <td><%= property.bathrooms %></td>
        <td><%= property.parking_spaces %></td>

<% end %>
<br>

